*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}
body{
	background-image: url("../image/loginBack.jfif22");
	background-size: cover;
  }

/*---------- form start  -------------*/
.loginForm{
	margin:auto ;
	padding:4rem;
	background-color:rgba(45,52,29,0.5);
    font-size:1.8rem; 
    text-align:center;
    color:white;	
	width:55rem;
	transform:translateY(20rem);
	margin-top: -20px;
	margin-bottom: 50px;
}

.formHead{
   transform:translateY(20rem);
	width:55rem;
	height:8rem;
	margin:auto ;
	padding:2rem;
	background-color:lime;
    font-size:2rem; 
    text-align:center;
	align-items:center;
	color: white;
	font-weight: bolder;
	
}
.nameGroup , .usernameGroup , .passwordGroup , .emailGroup , 
.countryGroup , .genderGroup , .profileGroup{
display:flex;
margin:1rem;
}

.name , .username , .password , .email , .country , .gender , .profile {
	border-top-right-radius:5rem;
	border-bottom-right-radius:5rem;
	border:none;
	background-color:white;
	color:green;
	font-family:cursive;
	font-size:1.8rem;
	width:30rem;
	padding:1.5rem;
}
label{
	border-top-left-radius:5rem;
	border-bottom-left-radius:5rem;
	border:none;
	background-color:red;
	color:white;
	font-family:cursive;
	font-size:1.8rem;	
	text-align:center;
	width:10rem;
	padding-top:1rem;
}
.hover:hover  > label{
	background-color:lime;
	transition-duration:1s;
}
.login{
	width:17rem;
	height:5.2rem;
	background-color:rgba(255, 0, 85, 0.836);
	color:white;
	text-align:center;
	border:none;
	border-radius:3rem;
	font-size:2rem;
}
.form{
	margin: 20px 10px;
	background-color: rebeccapurple;
	padding: 5%;
	color: white;
	font-weight: bolder;
}
/*---------- form end  -------------*/


/*---------------- RWD start ----------------*/
html{
	font-size:62.5%;
}

@media screen and (max-width:1000px) {
	html{
	font-size:62.5%;
}
}

@media screen and (max-width:9000px) {
	html{
	font-size:50.5%;
}
}
@media screen and (max-width:700px) {
	html{
	font-size:45.5%;
}
}

@media screen and (max-width:500px) {
	html{
	font-size:35.5%;
}

}

@media screen and (max-width:400px) {
	html{
	font-size:29.5%;
}

}
/*---------------- RWD end ----------------*/